body {
    display: grid;
    margin: 0 auto;
    border: 1px;
    padding: 0px 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    width: 1024px;
}
main {
    display: grid;
    border: 1px solid #ccc7c8;
    border-radius: 5;
    padding: 0px 5px;
    background-color: #ffffff;
}
aside {
    margin: 2px;
    padding: 5px;
    text-align: center;
    color: #000;
}

article {
    grid-area: article-cell;
    size: 1fr;
}

header {
    border: 1 solid #ccc7c8;
    border-radius: 5px;
    padding: 0px 5px;
    height: 100px;
    background-image: url("../data/images/header.png")
}
nav {
    margin-top: 20px;
}
.linkTag, .linkTag a {
    top: 0px;
    margin: 3px;
    border: 1px solid #fff;
    height: 20px;
    padding: 2px 4px;
    font-size: 17px;
    background-color: #ffffff80;
    display: inline;
    color: #ed4190;
    text-decoration: none;
}